[eyes]
keyword = xxx
slack_token = xxx
# can be found at https://api.slack.com/methods/channels.list/test
slack_channel_id = xxx

[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=file

[handlers]
keys=stdout,file

[handler_stdout]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[handler_file]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=default
args=(os.getcwd() + "/log/rs2slack.log", 'a', (10*1024*1024), 9)

[formatters]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] [%(threadName)s] %(message)s
# datefmt=
